* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	width:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    background-color: #181818;
}

a {
    outline:none;
    text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-nav {
	display: flex;
	justify-content: space-between;
}

.nav-izq-head {
    display: flex;
}

.nav-links-izq {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin: 0 1.2em;
}

.login-btn {
    background-color: #D8DF20;
    border: 1px solid #D8DF20;
    color: white !important;
    padding: 7px 1.2em;
    border-radius: 1.5em;
}

.login-btn:hover {
    background-color: transparent;
    border: 1px solid #D8DF20;
    color: #D8DF20 !important;
}

.menu-nav {
    width: 100%;
    background-color: #212121;
    padding: .5em 0;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0, .35);
-moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0, .35);
box-shadow: 0px 4px 7px 0px rgba(0,0,0, .35);
}

.container {
	width:80%;
	margin:0 auto;
}



/*SLIDER*/

.slider-main {
    width: 100%;
    height: 55vh;
    /*background-image: url('../assets/img/bghome.jpg');*/
    background-position: left;
    background-size: cover;
}

.content-titulo {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.content-titulo h3 {
    color: #e6e8e3;
    font-weight: 500;
    font-size: 2em;
}

.content-titulo h1 {
    color: #e6e8e3;
    font-weight: 700;
    font-size: 4em;
}

/*.img-slider {
    max-width: 100%;
    height: auto;
}*/

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-box {
    position: relative;
    margin-top: 2em;
    width: 40%;
}

input[type=text].input-search {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #222222;
}

input[type="text"].input-search::-webkit-input-placeholder {
    color: #a6a6a7;
}

.search-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    color: #e80a89;
}


/*MOVIES SECTION*/

.movies {
    width: 100%
}

.contenedor-movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3em 0;
}

.card-movie {
    width: 32%;
    display: flex;
    background-color: #222222;
    margin-bottom: 2.5em;
    cursor: pointer;
    transition: all .4s;
    -webkit-box-shadow: 0px 20px 27px -14px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 20px 27px -14px rgba(0,0,0,0.35);
    box-shadow: 0px 20px 27px -14px rgba(0,0,0,0.35);
}

.card-movie:hover {
    -webkit-box-shadow: 0px 8px 20px -14px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 8px 20px -14px rgba(0,0,0,0.35);
    box-shadow: 0px 8px 20px -14px rgba(0,0,0,0.35);
}

.img-movie {
    flex: 1;
}

.img-movie img {
    width: 100%;
    height: 100%;
}

.info-movie {
    flex: 1;
    padding: 1em;
    text-align: right;
    color: #65727a;
}

.info-movie h2 {
    color: #f1f1f1;
}

.mt-movie-info {
    margin-top: 1em;
}

.mb-movie-info {
    margin-bottom: .8em;
}

.mb-movie-info h4 {
    font-size: .8em;
}

.mb-movie-info p {
    font-size: .9em;
}

.cate-movie-info {
    text-align: center !important;
    background-color: #e80a89;
    padding: .5em;
    border-radius: 1em;
    color: white;
}


/*FOOTER*/

.footer {
    width: 100%;
    background-color: #222222;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.derechos p {
    color: #e6e8e3;
}



/*CARD MOVIE INDIVIDUAL*/

.card-movie-individual {
    width: 100%;
    display: flex;
    background-color: #222222;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    transition: all .4s;
    -webkit-box-shadow: 0px 15px 27px -14px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 15px 27px -14px rgba(0,0,0,0.35);
    box-shadow: 0px 15px 27px -14px rgba(0,0,0,0.35);
}

.tit-movie-individual {
    color: #e6e8e3;
    font-weight: 700;
    font-size: 3em;
    margin-top: 1em;
}

.contenedor-link-oficial {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-link-oficial {
    text-align: center !important;
    background-color: #e80a89;
    padding: .8em 2em;
    border-radius: 3em;
    color: white;
    margin-bottom: 2em;
}

.info-movie-individual {
    flex: 1;
    padding: 1em;
    color: #65727a;
}

.mb-movie-info-2 {
    margin-bottom: 2em;
}

.btn-volver-home {
    text-align: center !important;
    background-color: transparent;
    padding: .8em 2em;
    border-radius: 3em;
    color: #e80a89;
    border: 1px solid #e80a89;
    margin-bottom: 2em;
    transition: all .4s;
}

.btn-volver-home:hover {
    
    background-color: #e80a89;
    color: white;
}





/*MEDIA QUERY'S*/

@media (max-width: 1350px) {
    .card-movie {
        width: 46%;
    }

    .search-box {
        width: 46%;
    }
}

@media (max-width: 1024px) {

.card-movie-individual {
    flex-direction: column;
}

}

@media (max-width: 976px) {
    .card-movie {
        width: 100%;
    }

    .search-box {
        width: 100%;
    }

    .content-titulo h1 {
        font-size: 3em;
    }

    .content-titulo h3 {
        font-size: 1.6em;
    }
}

@media (max-width: 976px) {
    .content-footer {
        flex-direction: column;
    }

    .derechos p {
        text-align: center;
    }
}

@media (max-width: 670px) {
    .contenedor-link-oficial {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .nav-izq-head img {
        width: 190px;
        height: auto;
    }

    .content-titulo h1 {
        font-size: 2.5em;
    }

    .content-titulo h3 {
        font-size: 1.3em;
    }

    .card-movie {
        flex-direction: column;
    }

    .info-movie {
        text-align: center;
    }
}